In [2]:
import pandas as pd
import numpy as np

In [3]:
tc = pd.read_csv("data_input/techcrunch.csv")

In [4]:
tc.head()

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [8]:
tc['round'].value_counts().head()

a        582
b        371
c        141
angel    135
seed     128
Name: round, dtype: int64

In [9]:
pd.crosstab(tc['round'], columns = 'count').head()

col_0  count
round
a        582
angel    135
b        371
c        141
d         47

In [14]:
pd.crosstab(tc['round'], columns = tc.state, margins=True).head()

state,AZ,CA,CO,CT,DC,FL,GA,IA,ID,IL,...,OH,OR,PA,RI,TN,TX,UT,VA,WA,All
round,,,,,,,,,,,,,,,,,,,,,
a,3,353,10,3,4,7,3,0,1,11,...,0,5,7,0,1,9,7,10,42,582
angel,1,74,3,1,1,4,0,1,0,2,...,0,1,1,0,0,1,0,0,14,135
b,1,234,8,2,1,6,1,0,1,2,...,1,2,1,0,1,8,2,7,23,371
c,1,89,2,1,1,1,1,0,0,1,...,0,0,1,0,1,3,2,4,9,141
d,0,32,0,1,2,0,1,0,0,0,...,0,0,0,0,0,0,0,1,2,47

In [22]:
pd.crosstab(tc['state'], tc['round'], normalize='index', margins=True)

round,a,angel,b,c,d,debt_round,e,seed,unattributed
state,,,,,,,,,
AZ,0.333333,0.111111,0.111111,0.111111,0.000000,0.000000,0.000000,0.333333,0.000000
CA,0.404353,0.084765,0.268041,0.101947,0.036655,0.013746,0.009164,0.064147,0.017182
CO,0.303030,0.090909,0.242424,0.060606,0.000000,0.030303,0.000000,0.272727,0.000000
CT,0.230769,0.076923,0.153846,0.076923,0.076923,0.000000,0.000000,0.307692,0.076923
DC,0.400000,0.100000,0.100000,0.100000,0.200000,0.000000,0.000000,0.100000,0.000000
FL,0.318182,0.181818,0.272727,0.045455,0.000000,0.000000,0.000000,0.090909,0.090909
GA,0.375000,0.000000,0.125000,0.125000,0.125000,0.000000,0.000000,0.250000,0.000000
IA,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ID,0.500000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
IL,0.647059,0.117647,0.117647,0.058824,0.000000,0.000000,0.000000,0.058824,0.000000
IN,0.400000,0.400000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
MA,0.401869,0.065421,0.271028,0.112150,0.037383,0.000000,0.000000,0.074766,0.037383
MD,0.500000,0.125000,0.125000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000
ME,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000
MI,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MO,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
NC,0.384615,0.153846,0.230769,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000
ND,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NE,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NJ,0.200000,0.000000,0.300000,0.200000,0.000000,0.000000,0.000000,0.000000,0.300000
NM,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
NY,0.368000,0.144000,0.240000,0.040000,0.032000,0.024000,0.008000,0.136000,0.008000
OH,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OR,0.625000,0.125000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
PA,0.333333,0.047619,0.047619,0.047619,0.000000,0.047619,0.000000,0.476190,0.000000
RI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
TN,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
TX,0.360000,0.040000,0.320000,0.120000,0.000000,0.000000,0.000000,0.160000,0.000000
UT,0.583333,0.000000,0.166667,0.166667,0.000000,0.000000,0.000000,0.083333,0.000000
VA,0.434783,0.000000,0.304348,0.173913,0.043478,0.000000,0.000000,0.043478,0.000000
WA,0.432990,0.144330,0.237113,0.092784,0.020619,0.000000,0.020619,0.041237,0.010309
All,0.398630,0.092466,0.254110,0.096575,0.032192,0.011644,0.007534,0.087671,0.019178

In [23]:
pd.crosstab(tc['state'], tc['round'], normalize='all', margins=True)

round,a,angel,b,c,d,debt_round,e,seed,unattributed,All
state,,,,,,,,,,
AZ,0.002055,0.000685,0.000685,0.000685,0.000000,0.000000,0.000000,0.002055,0.000000,0.006164
CA,0.241781,0.050685,0.160274,0.060959,0.021918,0.008219,0.005479,0.038356,0.010274,0.597945
CO,0.006849,0.002055,0.005479,0.001370,0.000000,0.000685,0.000000,0.006164,0.000000,0.022603
CT,0.002055,0.000685,0.001370,0.000685,0.000685,0.000000,0.000000,0.002740,0.000685,0.008904
DC,0.002740,0.000685,0.000685,0.000685,0.001370,0.000000,0.000000,0.000685,0.000000,0.006849
FL,0.004795,0.002740,0.004110,0.000685,0.000000,0.000000,0.000000,0.001370,0.001370,0.015068
GA,0.002055,0.000000,0.000685,0.000685,0.000685,0.000000,0.000000,0.001370,0.000000,0.005479
IA,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
ID,0.000685,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001370
IL,0.007534,0.001370,0.001370,0.000685,0.000000,0.000000,0.000000,0.000685,0.000000,0.011644
IN,0.001370,0.001370,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003425
LA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.000685
MA,0.029452,0.004795,0.019863,0.008219,0.002740,0.000000,0.000000,0.005479,0.002740,0.073288
MD,0.002740,0.000685,0.000685,0.001370,0.000000,0.000000,0.000000,0.000000,0.000000,0.005479
ME,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001370,0.000000,0.002055
MI,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
MN,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
MO,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.001370
NC,0.003425,0.001370,0.002055,0.002055,0.000000,0.000000,0.000000,0.000000,0.000000,0.008904
ND,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
NE,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
NJ,0.001370,0.000000,0.002055,0.001370,0.000000,0.000000,0.000000,0.000000,0.002055,0.006849
NM,0.000685,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.002055
NY,0.031507,0.012329,0.020548,0.003425,0.002740,0.002055,0.000685,0.011644,0.000685,0.085616
OH,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
OR,0.003425,0.000685,0.001370,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005479
PA,0.004795,0.000685,0.000685,0.000685,0.000000,0.000685,0.000000,0.006849,0.000000,0.014384
RI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.000685
TN,0.000685,0.000000,0.000685,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.002055
TX,0.006164,0.000685,0.005479,0.002055,0.000000,0.000000,0.000000,0.002740,0.000000,0.017123
UT,0.004795,0.000000,0.001370,0.001370,0.000000,0.000000,0.000000,0.000685,0.000000,0.008219
VA,0.006849,0.000000,0.004795,0.002740,0.000685,0.000000,0.000000,0.000685,0.000000,0.015753
WA,0.028767,0.009589,0.015753,0.006164,0.001370,0.000000,0.001370,0.002740,0.000685,0.066438
All,0.398630,0.092466,0.254110,0.096575,0.032192,0.011644,0.007534,0.087671,0.019178,1.000000

In [50]:
cond1 = (tc['state'] == 'NY')
cond2 = (tc['state'] == 'CA')
nyca = tc.loc[(cond1) | (cond2), :]
pd.crosstab(index=nyca['category'], 
            columns=nyca['round'], 
            values=nyca['raisedAmt'], 
            aggfunc='mean')/1000000

round,a,angel,b,c,d,debt_round,e,seed,unattributed
category,,,,,,,,,
biotech,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250000,NaN
cleantech,11.950000,1.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN
hardware,12.068182,0.500000,24.310000,30.750000,72.500000,NaN,45.000000,0.583333,26.00000
mobile,4.592857,0.700000,8.140909,9.500000,16.250000,2.000000,20.000000,1.923333,NaN
other,6.600000,1.250000,16.333333,12.400000,NaN,NaN,NaN,5.250000,NaN
software,6.214375,1.668571,11.262500,18.033333,35.750000,3.500000,40.000000,0.204400,12.92500
web,7.151157,0.961861,11.763516,24.755132,26.726923,16.215385,19.533333,0.805719,8.65625